@model AluminiWebApp.Models.ChangePasswordModel
@{
    ViewBag.Title = "Change-Password";
    Layout = "~/Areas/Alumini/Views/Shared/_SRKRDesignLayout.cshtml";
}

<section class="nicdark_section nicdark_imgparallax nicdark_parallaxx_img5" id="nicdark_parallax_title" style="background-position: 50% -68px;">
    <div class="nicdark_filter greydark">
        <!--start nicdark_container-->
        <div class="nicdark_container nicdark_clearfix">
            <div class="grid grid_12">
                <div class="nicdark_space100"></div>
                <div class="nicdark_space100"></div>
                <h1 class="white subtitle">Change your password</h1>
                <div class="nicdark_space10"></div>
                <h3 class="subtitle white"></h3>
                <div class="nicdark_space20"></div>
                <div class="nicdark_divider left big"><span class="nicdark_bg_white nicdark_radius"></span></div>
                <div class="nicdark_space40"></div>
                <div class="nicdark_space50"></div>
            </div>
        </div>
        <!--end nicdark_container-->
    </div>

</section>


@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div class="grid grid_6">

        <div class="nicdark_archive1 nicdark_bg_grey nicdark_radius nicdark_shadow">
            <div class="nicdark_textevidence nicdark_bg_orange nicdark_radius_top">
                <h4 class="white nicdark_margin20">Change Password</h4>
                <i class="icon-mail nicdark_iconbg right medium orange"></i>
            </div>
            <div class="nicdark_margin20">

                @Html.PasswordFor(m => m.OldPassword, new { @class = "nicdark_bg_grey2 nicdark_radius nicdark_shadow grey small subtitle", @placeholder = "Old Password" })
                <div class="nicdark_space20">
                    @Html.ValidationMessageFor(x => x.OldPassword, null, new { @class = "text-danger" })
                </div>
                @*<input type="text" placeholder="NAME" value="" class="nicdark_bg_grey2 nicdark_radius nicdark_shadow grey small subtitle">*@
                <div class="nicdark_space20"></div>
                @Html.PasswordFor(m => m.NewPassword, new { @class = "nicdark_bg_grey2 nicdark_radius nicdark_shadow grey small subtitle", @placeholder = "New  Password" })
                <div class="nicdark_space20">
                    @Html.ValidationMessageFor(x => x.NewPassword)
                </div>

                <div class="nicdark_space20"></div>
                @Html.PasswordFor(m => m.ReenterPassword, new { @class = "nicdark_bg_grey2 nicdark_radius nicdark_shadow grey small subtitle", @placeholder = "Re-enter Password" })
                <div class="nicdark_space20">
                    @Html.ValidationMessageFor(x => x.ReenterPassword)
                </div>
                <div class="nicdark_space20"></div>
                <div>
                    <input class="nicdark_btn nicdark_bg_orange medium nicdark_shadow nicdark_radius white" type="submit" value="Save">
                </div>
                <div>
                    <br />
                    <h4>@TempData["Successmessage"]</h4>
                </div>
                @*<a class="nicdark_mpopup_ajax nicdark_btn nicdark_bg_orange medium nicdark_shadow nicdark_radius white nicdark_press" href="submit-message.php">SEND</a>*@
            </div>
        </div>
    </div>
}
@section Scripts{
    @Scripts.Render("~/Scripts/jquery.validate.min.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")
    <script src="~/Custom.js/Registration.js"></script>
}