@model AluminiWebApp.Models.ProfessionalDetails

@{
    ViewBag.Title = "ProfessionalDetails";
}

<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
@*<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js"></script>*@

<section id="nicdark_parallax_title" class="nicdark_section nicdark_imgparallax nicdark_parallaxx_img8" style="background-position: 50% 0px;">

    <div class="nicdark_filter greydark">

        <!--start nicdark_container-->
        <div class="nicdark_container nicdark_clearfix">

            <div class="grid grid_12">
                <div class="nicdark_space100"></div>
                <div class="nicdark_space100"></div>
                <h1 class="white subtitle">Professional Details</h1>
                <div class="nicdark_space10"></div>
                <div class="nicdark_divider left big"><span class="nicdark_bg_white nicdark_radius"></span></div>
                <div class="nicdark_space40"></div>
                <div class="nicdark_space50"></div>
            </div>

        </div>
        <!--end nicdark_container-->

    </div>

</section>

@using (Html.BeginForm("ProfessionalDetails", "Account", FormMethod.Post))
{
    @Html.ValidationSummary(true);
    @Html.AntiForgeryToken()
    <section class="nicdark_section">
        <div class="nicdark_container nicdark_clearfix">
            <div class="nicdark_space50"></div>
            <div class="grid grid_12">
                <h3 class="subtitle greydark">Professional Details</h3>
                <div class="nicdark_space20"></div>
                <div class="nicdark_divider left small"><span class="nicdark_bg_yellow nicdark_radius"></span></div>
            </div>
            <div class="grid grid_12">

                <!--start nicdark_tabs-->
                <div class="nicdark_tab ui-tabs ui-widget ui-widget-content ui-corner-all">

                    <ul class="nicdark_tabslist ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" role="tablist">
                        <li class="ui-state-default ui-corner-top"><a class="nicdark_tooltip nicdark_btn nicdark_bg_yellow medium nicdark_radius_top white ui-tabs-anchor" role="presentation" tabindex="-1"><i class=" nicdark_displaynone_iphoneland nicdark_displaynone_iphonepotr nicdark_marginright10">1</i> Create Account</a></li>
                        <li class="ui-state-default ui-corner-top"><a class="nicdark_tooltip nicdark_btn nicdark_bg_orange medium nicdark_radius_top white ui-tabs-anchor" role="presentation" tabindex="-1"><i class=" nicdark_displaynone_iphoneland nicdark_displaynone_iphonepotr nicdark_marginright10">2</i> Batch Details</a></li>
                        <li class="ui-state-default ui-corner-top"><a class="nicdark_tooltip nicdark_btn nicdark_bg_red medium nicdark_radius_top white ui-tabs-anchor" role="presentation" tabindex="-1"><i class=" nicdark_displaynone_iphoneland nicdark_displaynone_iphonepotr nicdark_marginright10">3</i> Contact Information</a></li>
                        <li class="ui-state-default ui-corner-top ui-tabs-active ui-state-active ui-state-hover" role="tab" tabindex="0" aria-controls="tabs-7" aria-labelledby="ui-id-4" aria-selected="true"><a href="#tabs-7" class="nicdark_tooltip nicdark_btn nicdark_bg_yellow medium nicdark_radius_top white ui-tabs-anchor" role="presentation" tabindex="-1"><i class=" nicdark_displaynone_iphoneland nicdark_displaynone_iphonepotr nicdark_marginright10">4</i> Work Experience</a></li>
                    </ul>

                    <div class="nicdark_tabs nicdark_bg_grey nicdark_radius nicdark_shadow">

                        <div class="nicdark_margin20 ui-tabs-panel ui-widget-content ui-corner-bottom" id="tabs-7" aria-labelledby="ui-id-4" role="tabpanel" aria-expanded="true" aria-hidden="false" style="display: block;">

                            <div class="nicdark_focus nicdark_width_percentage25">
                                @Html.EditorFor(model => model.Company, new { htmlAttributes = new { @class = "nicdark_bg_grey2 nicdark_radius nicdark_shadow grey medium subtitle", size = "200", placeholder = "Company" } })
                                @Html.ValidationMessageFor(model => model.Company, "", new { @class = "text-danger" })
                            </div>
                            <div class="nicdark_focus nicdark_width_percentage25">
                                <div class="nicdark_marginleft20 nicdark_disable_marginleft_iphoneland nicdark_disable_marginleft_iphonepotr">
                                    @Html.TextBoxFor(x => x.Designation, null, new { @class = "nicdark_bg_grey2 nicdark_radius nicdark_shadow grey medium subtitle", required = "required", size = "200", placeholder = "Role/Designation" })
                                    @Html.ValidationMessageFor(x => x.Designation, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="nicdark_focus nicdark_width_percentage25">
                                <div class="nicdark_marginleft20 nicdark_disable_marginleft_iphoneland nicdark_disable_marginleft_iphonepotr">
                                    @Html.DropDownListFor(x => x.WorkedFrom, new SelectList(Model.GraduationYears, "GraduationYear", "GraduationYear"), "Select working from", new { @class = "nicdark_bg_grey2 nicdark_radius nicdark_shadow grey medium subtitle" })
                                    @Html.ValidationMessageFor(x => x.WorkedFrom, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="nicdark_focus nicdark_width_percentage25">
                                <div class="nicdark_marginleft20 nicdark_disable_marginleft_iphoneland nicdark_disable_marginleft_iphonepotr">
                                    @Html.DropDownListFor(x => x.WorkedTill, new SelectList(Model.GraduationYears, "GraduationYear", "GraduationYear"), "Select working to", new { @class = "nicdark_bg_grey2 nicdark_radius nicdark_shadow grey medium subtitle" })
                                    @Html.ValidationMessageFor(x => x.WorkedTill, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="nicdark_space20"></div>
                            <div class="nicdark_focus">
                                <div class="nicdark_disable_marginleft_iphoneland nicdark_disable_marginleft_iphonepotr">
                                    <input class="nicdark_btn nicdark_bg_yellow medium nicdark_shadow nicdark_radius white nicdark_press right" type="submit" value="Save">
                                </div>
                            </div>

                            <div class="nicdark_space20"></div>

                        </div>

                    </div>

                </div>
                <!--end nicdark_tabs-->
                <div class="nicdark_space50"></div>

            </div>
        </div>
    </section>
}

@section Scripts{
    @Scripts.Render("~/Scripts/jquery.validate.min.js")
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#Company").autocomplete({
            width: 320,
            max: 4,
            highlight: false,
            multiple: true,
            multipleSeparator: ",",
            scroll: true,
            scrollHeight: 300,
            delay: 10,
            source: function (request, response) {
                var Auto = $("#Company").val();
                $.ajax({
                    url: "../Home/GetProfDetails",
                    data: ({ "Auto": Auto, "Designation": "" }),
                    dataType: "json",
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    dataFilter: function (data) { return data; },
                    success: function (data) {
                        if (data == "") {
                            //alert("No Records FOund");
                        }
                        else {
                            response($.map(data, function (item) {
                                return {

                                    value: item.ComapnyName
                                }
                            }))
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(textStatus);
                    }
                });
            },
            minLength: 2
        });


        $("#Designation").autocomplete({
            width: 320,
            max: 4,
            highlight: false,
            multiple: true,
            multipleSeparator: ",",
            scroll: true,
            scrollHeight: 300,
            delay: 10,
            source: function (request, response) {
                var Auto = $("#Designation").val();
                $.ajax({
                    url: "../Home/GetProfDetails",
                    data: ({ "Auto": "", "Designation": Auto }),
                    dataType: "json",
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    dataFilter: function (data) { return data; },
                    success: function (data) {
                        if (data == "") {
                            //alert("No Records FOund");
                        }
                        else {
                            response($.map(data, function (item) {
                                return {

                                    value: item.Designation
                                }
                            }))
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(textStatus);
                    }
                });
            },
            minLength: 2
        });
    });
</script>