@model AluminiWebApp.Areas.Admin.Controllers.TemplateModel
@{
    ViewBag.Title = "EditTemplate";
    Layout = "~/Areas/Admin/Views/Shared/_AdminMasterLayoutPage.cshtml";
}

<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <br />
                <div class="alert alert-success">
                    <strong>Alumni Templates</strong>.
                </div>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <td>Heading : </td>
                        <td>
                            <input type="text" readonly="readonly" id="TemplateHeading" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Subject : </td>
                        <td>
                            <input type="text" readonly="readonly" id="TemplateSubject" class="form-control" />
                        </td>

                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Description : &nbsp;</td>
                        <td>
                            <textarea id="TemplateDescription" readonly="readonly" class="form-control"></textarea>
                          
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>
                            <br />
                            <br />
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img width="200" class="img-responsive img-circle" alt="image" id="ImageTemplate">
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>


@using (Html.BeginForm("EditTemplate", "Extras", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true);
    <div class="content">
        <div class="container">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="page-title">Form elements</h4>
                    <ol class="breadcrumb">
                        <li>

                            <a href="#">Ubold</a>
                        </li>
                        <li>
                            <a href="#">Forms</a>
                        </li>
                        <li class="active">
                            General elements
                        </li>
                    </ol>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box">
                        <h4 class="m-t-0 header-title"><b>Add Birthday Ticker here</b></h4>
                        <h4 class=" text-custom">@TempData["Message"]</h4>
                        <p class="text-muted m-b-30 font-13">
                        </p>
                        <div class="row">
                            <div class="col-md-6">
                                <div role="form" class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Heading</label>
                                        <div class="col-md-10">
                                            <input type="hidden" id="Templateid" name="Templateid" />
                                            @Html.TextBoxFor(x => x.Heading, new { @class = "form-control", @placeholder = "Add heading here" })
                                            @Html.ValidationMessageFor(x => x.Heading, null, new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="example-email" class="col-md-2 control-label">Subject</label>
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(x => x.Subject, new { @class = "form-control", @placeholder = "Add subject here" })
                                            @Html.ValidationMessageFor(x => x.Subject, null, new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Description</label>
                                        <div class="col-md-10">
                                            @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @placeholder = "Add subject here", @rows = "7" })
                                            @Html.ValidationMessageFor(x => x.Description, null, new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="example-email" class="col-md-2 control-label">Image</label>
                                        <div class="col-md-10">
                                            <i class="ion-images"><input type="file" name="Image"></i>
                                        </div>
                                        <div>
                                            <br />
                                            <input type="submit" value="Save" class="btn btn-default btn-rounded waves-effect waves-light" />
                                        </div>
                                        <div class="card-box">
                                            <img width="200" class="img-responsive img-circle" alt="image" id="EditImages">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box">
                        <div class="row">
                            <div class="col-lg-12">
                                <h4 class="m-t-0 header-title"><b>Tickers</b></h4>
                                <p class="text-muted font-13">

                                </p>

                                <div class="p-20">
                                    <div class="table-responsive">
                                        <table class="table m-0">
                                            <thead>
                                                <tr>
                                                    <th>Id</th>
                                                    <th>Heading</th>
                                                    <th>Subject</th>
                                                    <th>Createdon</th>
                                                    <th>View</th>
                                                    <th>Edit</th>
                                                </tr>
                                            </thead>
                                            @foreach (var Template in @Model.GetTemplates)
                                            {
                                                <tbody>
                                                    <tr>
                                                        <th scope="row">@Template.id</th>
                                                        <td>@Template.Heading</td>
                                                        <td>@Template.Subject</td>
                                                        <td>@Template.createdOn</td>
                                                        <td><a href="javascript:;" onclick="viewTemplate(@Template.id)" class="btn btn-primary btn-rounded waves-effect waves-light" type="button" data-toggle="modal" data-target="#myModal">view</a></td>
                                                        <td><a href="javascript:;" onclick="EditTemplate(@Template.id)" class="btn btn-primary btn-rounded waves-effect waves-light" type="button">Edit</a></td>
                                                    </tr>
                                                </tbody>
                                            }
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- container -->

    </div>
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">
    function EditTemplate(id) {
        $.ajax({
            type: "Get",
            dataType: "json",
            contentType: "Application/json",
            url: "/Extras/GetTemplateonid",
            data: { "id": id },
            success: function (data) {
                $('#Heading').val(data.Heading);
                $('#Subject').val(data.Subject);
                $('#Description').val(data.Description);
                $("#EditImages").attr('src', data.Images);
                $('#Templateid').val(data.id);
            }
        });

    }
    function viewTemplate(id) {
        $.ajax({
            type: "Get",
            dataType: "json",
            contentType: "Application/json",
            url: "/Extras/GetTemplateonid",
            data: { "id": id },
            success: function (data) {
                $('#Templateid').val(data.id);
                $('#TemplateHeading').val(data.Heading);
                $('#TemplateSubject').val(data.Subject);
                $('#TemplateDescription').val(data.Description);
                $("#ImageTemplate").attr('src', data.Images);
            }
        });
    }
</script>
